 <!-- Main Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="logoimage">
    <img src="img/Logo.png" class="img-fluid" >
</div>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SURVEY SITE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

      </ul>
    </div>
  </div>
</nav>