<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<section class="editpage" id="edit">
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <br>
                         <br>
            <h1>Edit Survey</h1>
            <form class="form" method="POST">
                <form action="/edit">
                    <label for="Edit Survey"> <h5><strong>Select a survey type to edit:</strong> </h5></label>
                    <div>
                    <select class="survey" name="survey" id="survey">
                        <option>----- Select Survey Type -----</option>
                      <option value="Agree or Disagree">Agree or Disagree</option>
                      <option value="Multiple Choice">Multiple Choice </option>
                      <option value="Text">Text Question</option>
                      </select>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <label form="question"><h5><strong>Enter The Question :</strong> </h5></label><br>
                        <input class="survey" type="text" 
                        class="form-control" 
                        id="question" 
                        placeholder="Enter The Question" 
                        name="name" 
                         required>
                         <br><br> <br> <br> <br> <br><br>
                         <br><br>
                         <br><br>
                         
                    </div>
                    
                  </form>
                <a href="/" class="btn btn-primary" type="submit" >
                    <i class="far fa-submit"></i>Submit
                </a>

                <a href="/" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>
</section>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>